body{
    background-color: rgba(37, 37, 183, 0.793);
    font-size: normal 16px arial;
}
header{
    text-align: center;
    color: white;
}
section{
    border-radius: 10px;
    background: white;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.603);
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}