body{
    background-color:#111111;
    color: white;
}
header{
    text-align: center;
}
section{
    border-radius: 10px ;
    background-color: white;
    padding: 10px;
    color: black;
    width: 500PX;
    margin: auto;
    box-shadow: 5px 3px 10px rgba(255, 255, 255, 0.496);
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
footer{
    text-align: center;
    font-style: italic;
}